{% extends "password/base.html" %}
{% block content %}
	<div class="conent-section">
		<form method = "POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Delete Post</legend>
				<h2>Are you sure you would like to delete your password for {{ object.description }}?</h2>
			</fieldset>
			<div class="form-group">
				<button class="btn btn-danger" type="submit">Confirm Delete</button>
				<a class="btn btn-secondary" href="{% url 'password-list'%}">Back to list</a>
			</div>
		</form>
	</div>
{% endblock content %}